* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: navy;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }

#title-header {
	font-size: 24px;
	color: white;
}



li {
	padding-bottom: 14px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
}

ul.category_index {
	padding: initial;
	list-style: none
}

li.on {
	background-color: navy;
}

.container{
    display:flex;
}

.login_container{
    padding-top: 36px;
    padding-left: 36px;
}

.header{
	background-color: navy;
	padding-bottom: 15px;
}

.sign_in_button{
	padding-left: 15px;
	padding-top: 15px;
	margin-left: 80%;
}

.page_title{
	padding-left: 15px;

}

.categories{
    padding-right: 20px;
    background-color: lightblue;
    padding-left: 15px;
    border: 1px solid black;
}

.items{
    padding: 0.5em;
    border: 1px solid black;
    background-color: #d3e4f1;
    width: 100%;
    min-height: 500px;
}

.items a{
    text-decoration: none;
    color: navy;
    font-size: 1.5em;
}

.add_item_button{
    padding: 0.5em;
    margin-top: 24px;
    border: 1px solid black;
    background-color: #0b72c1;
    width: 78px;
    height: 20px;
    margin-left: 80%;
}

.add_item_button a{
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.form_area{
    padding: 1.5em;
    margin-top: 0.5em;
    border: 1px solid black;
    background-color: #0b72c1;
    float:left;
    border-radius: 10px;
    color: white;

}

.form_area h2{
    font-size: 1.4em;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}